/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    height: 100vh;
}

header{
    flex-shrink: 0;
}

main{
    flex: 1 0 auto;
}

footer{
    flex-shrink: 0;
}

.container-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*EDITOR PAGE*/
.editor-layout-root {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 1fr 5px;
    height: 90vh;
    margin-left: 5px;
}

.editor-toolbar {
    grid-column: span 12;
}

.editor-side-panel {
    grid-column: span 2;
    margin-right: 5px;
}

.editor-content {
    grid-column: span 10;
}

.editor-footer {
    grid-column: span 12;
}