@{
    ViewData["Title"] = "Home Page";
}

<div class="editor-layout-root">
    <div class="editor-toolbar">
        <div class="input-group">
            <input id="txtTemplateId" type="text" class="form-control" placeholder="Template id...">
            <span class="input-group-btn">
                <button id="btnSaveCode" class="btn btn-default"><i class="glyphicon glyphicon-save"></i>&nbsp;Save</button>
                <button id="btnGetTemplate" class="btn btn-warning"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Load</button>
            </span>
        </div>
    </div>
    <div class="editor-side-panel">
        <h3>Templates list:</h3>
        <div id="templatesList">

        </div>
    </div>
    <div class="editor-content">
        <div id="aceMainEditor" style="width: 99%; height: 100%;">

        </div>
    </div>
    <div class="editor-footer">

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var editor = ace.edit("aceMainEditor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/javascript");

        var currentTemplateId = "NewTemplate";

        var templateIdTextbox = document.getElementById("txtTemplateId");

        var saveBtn = document.getElementById("btnSaveCode");
        saveBtn.onclick = (e) => {
            var code = editor.getValue();
            currentTemplateId = templateIdTextbox.value;
            $.ajax({
                type: "POST",
                url: "api/CodeTemplate",
                data: JSON.stringify({
                    Id: currentTemplateId,
                    TemplateText: code
                }),
                success: null,
                contentType: "application/json"
            }).then(resp => {
                console.log(resp);
                getAvailableTemplatesList();
            }).catch(err => {
                console.log(err);
            });
        };

        var getTemplateBtn = document.getElementById("btnGetTemplate");
        getTemplateBtn.onclick = (e) => {
            $.getJSON("api/CodeTemplate/" + templateIdTextbox.value)
                .then(resp => {
                    console.log(resp);
                    currentTemplateI = resp.id;
                    editor.session.setValue(resp.templateText);
                }).catch(err => {

                    console.log(err);
                });
        };

        function templateItemClick(templateName) {
            templateIdTextbox.value = templateName;
        }

        function getAvailableTemplatesList() {
            $.getJSON("api/CodeTemplate")
                .then(resp => {
                    var text = "<ul class=\"list-group\">\n";
                    for (var template in resp) {
                        text += `<li class="list-group-item" onclick="templateItemClick('${resp[template]}')">${resp[template]}</li>`;
                    }
                    $("#templatesList").html(text + "</ul>");

                }).catch(err => {

                    console.log(err);
                });
        }

        getAvailableTemplatesList();
    </script>
}