@{
    ViewData["Title"] = "Home Page";
}

<div class="body-content">
    <div class="jumbotron">
        <h3>Templates list:</h3>
        <div id="templatesList">

        </div>
        <div>
            <label for="txtTemplateId">Template Id:</label>
            <input class="form-control" id="txtTemplateId" value="NewTemplate" />
        </div>
        <p></p>
        <div id="btnGetTemplate" class="btn btn-warning">Get template</div>
    </div>
    <div id="aceMainEditor" style="width: 100%; height: 500px;">

    </div>
    <p></p>
    <div id="btnSaveCode" class="btn btn-default">Save</div>
</div>

@section Scripts{
    <script type="text/javascript">
        var editor = ace.edit("aceMainEditor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/javascript");

        var currentTemplateId = "NewTemplate";

        var templateIdTextbox = document.getElementById("txtTemplateId");

        var saveBtn = document.getElementById("btnSaveCode");
        saveBtn.onclick = (e) => {
            var code = editor.getValue();
            $.ajax({
                type: "POST",
                url: "api/CodeTemplate",
                data: JSON.stringify({
                    Id: currentTemplateId,
                    TemplateText: code
                }),
                success: null,
                contentType: "application/json"
            }).then(resp => {
                console.log(resp);
            }).catch(err => {
                console.log(err);
            });
        };

        var getTemplateBtn = document.getElementById("btnGetTemplate");
        getTemplateBtn.onclick = (e) => {
            $.getJSON("api/CodeTemplate/" + templateIdTextbox.value)
                .then(resp => {
                    console.log(resp);
                    currentTemplateI = resp.id;
                    editor.session.setValue(resp.templateText);
                }).catch(err => {

                    console.log(err);
                });
        };

        $.getJSON("api/CodeTemplate")
            .then(resp => {
                var text = "<ul>\n";
                for (var template in resp) {
                    text += `<li>${resp[template]}</li>`;
                }
                $("#templatesList").html(text + "</ul>");

            }).catch(err => {

                console.log(err);
            });
    </script>
}